# conda env create -f dev-environment.yml
name: pytao-dev
channels:
  - conda-forge
dependencies:
  - python >=3.9
  - openPMD-beamphysics
  - numpydoc
  - bmad >=20240809
  - bokeh
  - jupyterlab>3
  - ipywidgets
  - matplotlib
  - numpy
  - h5py
  - pexpect
  - pydantic >=2
  # Developer
  - pygments
  - pytest
  - pytest-cov
  - mkdocs
  - mkdocstrings
  - mkdocs-material
  # NOTE: we are installing mkdocs-jupyter with pip for now
  # due to the following: https://github.com/conda-forge/mkdocs-jupyter-feedstock/issues/31
  # - mkdocs-jupyter
  - mkdocstrings-python
  - pip
  - pip:
      - mkdocs-jupyter>=0.24.7
      # Install pytao from here.
      - .
